---
layout: default
---

<div class='full parallax' style='background-image: url(../images/stock/{{page.image}}); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html
      title=page.title
      color="#fff"
      tagline=page.tagline
      edit=true
      class="big title-shadow" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='small-12 medium-12 large-12 columns'>
      {{ content }}
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <p class="trademark">Java and JavaServer Faces are trademarks or registered trademarks of Oracle and/or its affiliates.

    http://www.javaserverfaces.org is maintained and operated by members of the JSR-314 (JSF 2.0) Expert Group and
    dedicated community contributors.
    Got a suggestion to make javaserverfaces.org better? Is there a page we forgot? Please post your suggestion in the 
      <a href="http://wiki.jcp.org/boards/index.php?b=jsr-314-public" target="_blank">community forums</a>.</p>
  </div>
</div>


